<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Homework3</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

</head>

<body>
    <div class= "header">
        <a class="logo__link" href="#">
            <img class="logo" src="../images/mainlogo.png"/>
        </a>
        <ul class= "header-menu__list" >
            <li class="header-menu__item">
                <a class="header-menu__link" href="#">
                    home
                </a>
            </li>
            <li class="header-menu__item">
                <a class="header-menu__link" href="#">
                    about
                </a>
            </li>
            <li class="header-menu__item">
                <a class="header-menu__link" href="#">
                    archive
                </a>
            </li>
            <li class="header-menu__item">
                <a class="header-menu__link" href="#">
                    contact
                </a>
            </li>
            <li class="header-menu__item">
                <a class="header-menu__link except" href="#">
                    <div class="header-menu__link-icon"></div>
                </a>
            </li>
        </ul>
    </div>



    <div class= "main">
        <ul class="main-block-pages__list">
            <li class="block-page__item">
                <div class= "block-page-inner__items">
                    <a class="block-page-right__link" href="#">
                        I Do Travel
                    </a>
                    <p class="data-page">
                        Sep 20
                    </p>
                    <h1 class="block-page__title">
                        No difference how many peaks you reach if there was no pleasure in the climb.
                    </h1>
                    <p class= "block-page__text">
                        Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
                    </p>
                    <div class="footer-block-page">
                        <a class= "block-page__link" href="#">
                            read more
                        </a>
                        <ul class="block-page-hashtegs__list">
                            <li class= "block-page-hashteg__item">
                                <a class= "block-page-hashteg__link" href="#">
                                    #Yosemite
                                </a>
                            </li>
                            <li class= "block-page-hashteg__item">
                                <a class= "block-page-hashteg__link" href="#">
                                    #Peak
                                </a>
                            </li>
                            <li class= "block-page-hashteg__item">
                                <a class= "block-page-hashteg__link" href="#">
                                    #Explorer
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="block-page__item">
                <div class="block-page__background-image"></div>

                <div class= "block-page-inner__items">
                    <a class="block-page-right__link" href="#">
                        I Do Observe
                    </a>
                    <p class="data-page">
                        Sep 18
                    </p>
                    <h1 class="block-page__title">
                        You know, I'd rather argue with you, then laugh with anyone else.
                    </h1>
                    <p class="block-page__text modifier__text_style">
                        Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae.
                    </p>

                    <p class= "block-page__text">
                        Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
                    </p>
                    <p class= "block-page__text text-marge-up">
                        Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.
                    </p>

                    <div class="footer-block-page">
                        <a class= "block-page__link" href="#">
                            read more
                        </a>
                        <ul class="block-page-hashtegs__list">
                            <li class= "block-page-hashteg__item">
                                <a class= "block-page-hashteg__link" href="#">
                                    #Yosemite
                                </a>
                            </li>
                            <li class= "block-page-hashteg__item">
                                <a class= "block-page-hashteg__link" href="#">
                                    #Peak
                                </a>
                            </li>
                            <li class= "block-page-hashteg__item">
                                <a class= "block-page-hashteg__link" href="#">
                                    #Photo
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="block-page__item ">
                <div class= "block-page-inner__items">
                    <a class="block-page-right__link" href="#">
                        I Do Reflect
                    </a>
                    <p class="data-page">
                        Sep 11
                    </p>
                    <h1 class="block-page__title">
                        Democracy means simply the bludgeoning of the people by the people for the people.
                    </h1>
                    <img class="inner-image" src="../images/statue.png">
                    <p class= "block-page__text">
                        Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
                    </p>
                    <p class= "block-page__text text-marge-up">
                        Mauris sem odio, rhoncus eget euismod sed, pellentesque sit amet felis. Praesent dictum eleifend dui et efficitur. Nunc non orci in neque sodales semper. Etiam euismod volutpat lorem, <a class="inner-text__hyperlink" href="#">vestibulum malesuada</a> justo aliquet eget. Nunc lacus ante, varius a euismod eu, finibus commodo erat. Curabitur tincidunt sit amet nunc id interdum. Aliquam augue nisi, venenatis vitae ex at, lobortis fringilla nibh. Proin placerat enim vitae egestas eleifend. Aliquam quis orci dignissim, posuere nibh a, eleifend augue. Cras quis metus nec tortor aliquet ullamcorper. Quisque varius porta metus, ut maximus dolor euismod nec. Suspendisse sit amet feugiat turpis.
                    </p>
                    <p class="block-page__text modifier__text_size">
                        Curabitur ut leo pulvinar, consectetur magna eu, feugiat purus. Morbi hendrerit lectus turpis, a porttitor velit imperdiet id.
                    </p>
                    <p class= "block-page__text">
                        Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor. Nullam scelerisque ante mauris, egestas commodo nisi gravida ultrices. Suspendisse dapibus feugiat tincidunt. Aliquam gravida quam at ipsum sagittis bibendum.
                    </p>
                    <div class="footer-block-page">
                        <a class= "block-page__link" href="#">
                            read more
                        </a>
                        <ul class="block-page-hashtegs__list">
                            <li class= "block-page-hashteg__item">
                                <a class= "block-page-hashteg__link" href="#">
                                    #Democracy
                                </a>
                            </li>
                            <li class= "block-page-hashteg__item">
                                <a class= "block-page-hashteg__link" href="#">
                                    #Introspection
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>



    <div class="footer">
        <div class="footer-inner__items">
            <div class="footer-logo__background"></div>
            <ul class= "footer-menu__list" >
                <li class="footer-menu__item">
                    <a class="footer-menu__link" href="#">
                        home
                    </a>
                </li>
                <li class="footer-menu__item">
                    <a class="footer-menu__link" href="#">
                        about
                    </a>
                </li>
                <li class="footer-menu__item">
                    <a class="footer-menu__link" href="#">
                        archive
                    </a>
                </li>
                <li class="footer-menu__item">
                    <a class="footer-menu__link" href="#">
                        contact
                    </a>
                </li>
                <li class="footer-menu__item">
                    <a class="footer-menu__link footer-except" href="#">
                        <img class="footer-menu__link-icon" src="../images/searchicon/Search.png"/>
                    </a>
                </li>
            </ul>
            <p class="footer__text">
                Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.
            </p>
            <p class="footer-credits__text">
                © 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <a class="name-team" href="#">PixelBuddha Team</a>
            </p>
            <ul class= "footer__icons">
                <li class="footer-icons__item">
                    <a class="footer-icons__link" href="#">
                        <img class="footer-menu__link-icon" src="../images/facebook.png"/>
                    </a>
                </li>
                <li class="footer-icons__item">
                    <a class="footer-icons__link" href="#">
                        <img class="footer-menu__link-icon" src="../images/twitter.png"/>
                    </a>
                </li>
                <li class="footer-icons__item">
                    <a class="footer-icons__link" href="#">
                        <img class="footer-menu__link-icon" src="../images/instagram.png"/>
                    </a>
                </li>
                <li class="footer-icons__item">
                    <a class="footer-icons__link" href="#">
                        <img class="footer-menu__link-icon" src="../images/pinterest.png"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>